extends layout

block content
	h1= title
	if currentUser
		p You are logged in as a #{currentUser.username}
		hr
		a(href='/create-message') Create a new message
		hr
		each msg in messages
			h3 #{msg.title}
			p #{msg.text}
			p Message posted at #{msg.timestamp}
			if currentUser.membership_status === 'Active'
				p posted by #{msg.user.username}
			if currentUser.admin == true
				p posted by #{msg.user.username}
				br
				a(href=`/${msg._id}/delete-message`) Delete
				hr
		a(href='/log-out') Log out
	else
		each msg in messages
			h3 #{msg.title}
			p #{msg.text}
			p Message posted at #{msg.timestamp}
			hr
		p You are not currently logged in...!
		p Login to create message...!
		hr
		a(href='/login') Login
		hr
		a(href='/sign_up') Sign Up