extends layout

block content
	h1.title= title
	if currentUser
		p Welcome #[strong #{currentUser.username}!]
		each msg in messages
			div.card
				div.card-body
					h3.card-title #{msg.title}
					br
					p.card-text #{msg.text}
					br
					p.card-text.post-time @ #{msg.timestamp}

					if currentUser.membership_status === 'Active' || currentUser.admin == true
						p.card-text.posted-by posted by #[strong #{msg.user.username}]
					if currentUser.admin == true
						br
						a(href=`/${msg._id}/delete-message` class="btn btn-primary btn-del-msg" ) Delete
	else
		each msg in messages
			div.card
				div.card-body
					h3.card-title #{msg.title}
					p.card-text #{msg.text}
					p.card-text.post-time @ #{msg.timestamp}
		//-
			hr
			p You are not currently logged in...!
			p Login to create message...!
			hr
			a(href='/login') Login
			hr
			a(href='/sign_up') Sign Up